@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --header-height: 78px;
    /*===== Colors =====*/
    --bg-sidebar: #f9f9f9;
    --bg-light: #ffffff;
    --bg-gray: #efeff4;
    /*===== Text color =====*/
    --accent-blue: #0a84ff;
    --accent-red: #f92e22;
    --text-primary: #000000;
    --text-secondary: #84858a;
    --text-gray: #8a8a8e;
    --gradient-blue: linear-gradient(#0a84ff, #4fbaf0);
    --gradient-red: linear-gradient(#f92e22, #fe756d);
    /*===== Font and typography =====*/
    --Roboto: "Roboto", sans-serif;
    --h1-font-size: 1.625rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;
}

body {
    font-family: var(--Roboto);
    color: var(--text-primary);
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-light);
}
/* ----- Header ----- */
.app-header {
    height: var(--header-height);
    padding: 0 96px 0 120px;
    background-color: var(--bg-sidebar);
    z-index: 1039;
}
.app-header__logo a svg {
    fill: var(--accent-blue);
}
.app-header__menu .nav-link {
    padding: 0.5rem 3rem;
    color: var(--text-secondary);
}
.app-header .nav-item:last-child .nav-link {
    padding-right: 0;
}
/* ----- Main content ----- */
.app-content {
    /* padding-top: 77px; */
    flex: 1;
    position: relative;
}
/* ----- Sidebar ----- */
.app-main__sidebar {
    width: 325px;
    height: calc(100vh - var(--header-height));
    padding: 6px 24px 24px;
    background-color: var(--bg-sidebar);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1038;
}

.app-main__sidebar .nav-sidebar .nav-item {
    padding-bottom: 3px;
}
.app-main__sidebar .nav-sidebar .nav-link {
    padding: 0.5625rem 0.84375rem;
    border-radius: 12px;
    color: var(--text-primary);
    font-weight: var(--font-medium);
    line-height: 1.3125;
    letter-spacing: -0.32px;
    transition: 0.4s ease;
}
.app-main__sidebar .nav-sidebar .nav-link:hover {
    color: var(--accent-blue);
    background-color: var(--bg-gray);
}
.app-main__sidebar .nav-sidebar .nav-link.active {
    color: var(--accent-blue);
    background-color: var(--bg-gray);
}
/* ----- Main content ----- */
.app-main {
    flex: 1;
    padding-left: 325px;
}
.app-main__content {
    flex: 1;
}
.app-main__content .container-fluid {
    padding-left: 8px;
    padding-right: 24px;
}
.content-header {
    padding: 31px 0;
}
.content-header .breadcrumb-item {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.38px;
}
.content-header .breadcrumb-item.active {
    color: var(--accent-blue);
}
.content-header .breadcrumb-item a {
    color: rgba(60, 60, 67, 0.6);
    text-decoration: none;
}
.content-header .content-header__title h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    line-height: 1.18;
    letter-spacing: 0.36px;
}
.content-header .content-header__switch svg {
    cursor: pointer;
}
.training-price {
    padding: 0;
}
.training-price .training-price__info {
    width: 100px;
    margin-right: 24px;
}
.training-price .training-price__info p {
    margin: 0;
    text-align: right;
    line-height: 1;
    letter-spacing: -0.078px;
    font-weight: var(--font-black);
}
.training-price .training-price__info p:first-of-type {
    margin-bottom: 4px;
    color: var(--text-gray);
    font-weight: var(--font-medium);
}
.training-data {
    padding: 24px 0;
}
/* .training-data__col {
    padding: 28px 24px;
    background-color: var(--bg-gray);
    box-shadow: 0px 4px 24px rgba(112, 144, 176, 0.12);
    border-radius: 24px;
} */
.training-data__col .card {
    padding: 28px 24px;
    border: none;
    background-color: var(--bg-gray) !important;
    box-shadow: 0px 4px 24px rgba(112, 144, 176, 0.12);
    border-radius: 24px;
}
.training-data__col h2 {
    margin: 0 12px;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 1;
    letter-spacing: 0.38px;
}
.training-data__title {
    margin-bottom: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dadada;
}
.training-data__title h3 {
    margin: 0;
    font-size: var(--h3-font-size);
    font-weight: var(--font-black);
    line-height: 1.2;
    letter-spacing: 0.38px;
}
.training-data__grid ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 37px;
    row-gap: 24px;
}
.training-data__grid ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 12px 12px;
    background-color: #f4f4f5;
    border: 1px solid #e5e5eb;
    border-radius: 8px;
}
.training-data__grid ul li:nth-child(even) {
    background-color: rgba(116, 116, 128, 0.08);
}
.training-data__grid ul li p {
    margin: 0;
    font-weight: var(--font-black);
    line-height: 1;
    letter-spacing: 0.066px;
}
.training-data__grid p.training-data__digits {
    margin-bottom: 12px;
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
}
.training-data__grid p.training-data__info {
    color: var(--accent-blue);
    font-size: 0.6875rem;
    font-weight: var(--font-medium);
}
.training-data__grid.danger p.training-data__digits {
    background: var(--gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.training-data__grid.danger p.training-data__info {
    color: var(--accent-red);
}
.training-data__col .card div {
    position: relative;
}
.training-data__col .card > div:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #dadada;
}
.training-data__col .column-list {
    width: 340px;
    padding-right: 35px;
}
.training-data__col .column-list ul {
    padding-top: 24px;
}
.training-data__col .column-list .nav-item:not(:last-child) {
    padding-bottom: 11px;
}
.training-data__col .column-list .nav-link {
    color: var(--text-gray);
    font-weight: var(--font-medium);
    line-height: 1;
    letter-spacing: -0.078px;
}
.training-data__col .column-list .nav-link {
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    color: var(--text-gray);
    font-weight: var(--font-medium);
    line-height: 1;
    letter-spacing: -0.078px;
    transition: 0.4s ease;
}
.training-data__col .column-list .nav-link.active {
    background-color: var(--bg-sidebar);
    color: var(--text-primary);
    font-weight: var(--font-black);
}
.training-data__col .column-list .nav-link:hover {
    background-color: var(--bg-sidebar);
    color: var(--text-primary);
    font-weight: var(--font-black);
}
.training-data__col .column-meta {
    width: 522px;
    padding: 0 35px;
}
.training-data__col .column-meta ul {
    padding-top: 34px;
}
.training-data__col .column-meta .list-group-item {
    padding: 0 1rem 0.75rem 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--text-gray);
    font-weight: var(--font-medium);
    letter-spacing: -0.078px;
}
.training-data__col .column-meta .list-group-item > span {
    color: var(--text-primary);
    font-weight: var(--font-black);
}
.training-data__col .column-chart {
    padding-left: 35px;
    flex: 1;
}
.training-data__col .column-chart__item {
    padding: 24px;
    background-color: var(--bg-sidebar);
    box-shadow: 0px 4px 24px rgba(112, 144, 176, 0.12);
    border-radius: 24px;
}
.training-data__col .column-chart__item .training-data__title {
    border: none;
    text-align: center;
}
.training-data__col .column-chart__item:not(:last-child) {
    margin-right: 20px;
}
.apexcharts-radial-series {
    pointer-events: none;
}

/* ----- Footer ----- */
.app-footer {
    background-color: var(--bg-sidebar);
}
