@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --bg-sidebar: #f9f9f9;
    --bg-light: #ffffff;
    --bg-gray: #efeff4;
    /*===== Text color =====*/
    --accent: #0a84ff;
    --text-primary: #000000;
    --text-secondary: #84858a;
    /*===== Font =====*/
    --Roboto: "Roboto", sans-serif;
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;
}

body {
    font-family: var(--Roboto);
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-light);
}
/* ----- Header ----- */
.app-header {
    height: 77px;
    padding: 0 96px 0 120px;
    background-color: var(--bg-sidebar);
    z-index: 1039;
}
.app-header__logo a svg {
    fill: var(--accent);
}
.app-header__menu .nav-link {
    padding: 0.5rem 3rem;
    color: var(--text-secondary);
}
.app-header .nav-item:last-child .nav-link {
    padding-right: 0;
}
/* ----- Main content ----- */
.app-content {
    /* padding-top: 77px; */
    flex: 1;
    position: relative;
}
/* ----- Sidebar ----- */
.app-main__sidebar {
    width: 325px;
    height: calc(100vh - 77px);
    padding: 6px 24px 24px;
    background-color: var(--bg-sidebar);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1038;
}
.app-main__content ol,
.app-main__content ul {
    margin: 0;
}
.app-main__sidebar .nav-sidebar .nav-item {
    padding-bottom: 3px;
}
.app-main__sidebar .nav-sidebar .nav-link {
    padding: 0.5625rem 0.84375rem;
    color: var(--text-primary);
    font-weight: var(--font-medium);
    line-height: 1.3125;
    letter-spacing: -0.32px;
}
.app-main__sidebar .nav-sidebar .nav-link.active {
    color: var(--accent);
    background-color: var(--bg-gray);
    border-radius: 12px;
}
/* ----- Main content ----- */
.app-main {
    flex: 1;
    padding-left: 325px;
}
.app-main__content {
    flex: 1;
}

/* ----- Footer ----- */
.app-footer {
    background-color: var(--bg-sidebar);
}
